*{
    box-sizing: border-box;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:17px;
    background-color: Lavender ;
    max-width: 720px;
    margin:0 auto;
    padding: 36px 20px;
    /* color: midnightblue; */

}
#logo{
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
   

}
h1{
    text-align: center;
    color: rebeccapurple;
    border-bottom: 3px solid thistle;
    padding-bottom: 14px;
    margin-bottom: 20px;
    /* font-size: 32px; */

}
fieldset{
    font-weight: bold;
    color:midnightblue;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
legend{
    font-weight:bold;
    color:midnightblue;
    background-color: rgb(229, 133, 219);
    padding:6px 14px;
    border-radius:100px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    padding: 10px 6px;
    vertical-align: top; 
}
